<header>
    <div class="head-cont">
        <h1><a href="/"><img src="/images/logo.jpg" alt="알파덴트 인터내셔널"></a></h1>
        <button type="button" class="btn-menu-all"><span class="blind">전체메뉴열기</span><span class="bar" aria-hidden="true"></span></button>
        <nav>
            <ul id="gnb">
                <li><a href="/page/sub_01.html">회사소개</a></li>
                <li><a href="/page/sub_02.html">특장점</a></li>
                <li><a href="/page/sub_03.html">제품소개</a></li>
                <li><a href="/page/sub_04.html">임상센터</a></li>
                <li><a href="/page/sub_05.html">홍보센터</a></li>
                <li><a href="/page/sub_06.html">고객센터</a></li>
            </ul>
            <ul class="other">
                <li><a href="">마이페이지</a></li>
                <li><a href="">로그인</a></li>
                <li><a href="">ENGLISH</a></li>
            </ul>
        </nav>
    </div>
</header>