/* main */
#container.main {
    .main-visual {
        position:relative;
        .swiper-slide {
            position:relative;
            height:800px;
            @include bg;
            @include tablet {
                height:560px;
            }
            @include mobile {
                height:500px;
            }
            .text {
                position:absolute;
                top:190px;
                left:50%;
                @include contArea;
                transform:translateX(-50%);
                color:#fff;
                text-align:center;
                @include tablet {
                    top:130px;
                }
                @include mobile {
                    top:80px;
                }
                h2.tit {
                    font-size:60px;
                    line-height:1.2;
                    font-weight:500;
                    @include tablet {
                        font-size:50px;
                    }
                    @include mobile {
                        font-size:38px;
                    }
                }
                .desc {
                    margin-top:30px;
                    font-size:30px;
                    line-height:1.4;
                    word-break:keep-all;
                    @include tablet {
                        font-size:28px;
                    }
                    @include mobile {
                        font-size:22px;
                    }
                }
            }
        }
        .paging {
            position:absolute;
            left:50%;
            bottom:80px;
            @include contArea;
            transform:translateX(-50%);
            font-size:0;
            text-align:center;
            z-index:10;
            @include tablet {
                bottom:60px;
            }
            @include mobile {
                bottom:40px;
            }
        }
    }
    .sect01 {
        padding:80px 0;
        @include mobile {
            padding:40px 0;
        }
        ul {
            display:flex;
            @include contArea;
            @include mobile {
                display:block;
            }
            li {
                flex:1;
                padding:20px 12px 10px;
                border-left:1px solid $border;
                @include mobile {
                    margin-top:30px;
                    padding:30px 12px 0;
                    border-left:none;
                    border-top:1px solid $border;
                }
                &:first-child {
                    margin-top:0;
                    border-top:none;
                    border-left:none;
                    @include mobile {
                        padding-top:0;
                    }
                }
                a {
                    position:relative;
                    display:block;
                    max-width:310px;
                    margin:0 auto;
                    padding-bottom:70px;
                    text-align:center;
                    @include mobile {
                        padding-bottom:34px;
                    }
                    .tit {
                        font-size:30px;
                        font-weight:500;
                        @include mobile {
                            font-size:24px;
                        }
                    }
                    .desc {
                        margin-top:20px;
                        @include font-md;
                        word-break:keep-all;
                        @include mobile {
                            margin-top:10px;
                        }
                        &::before,
                        &::after {
                            content:' ';
                            position:absolute;
                            bottom:0;
                            left:50%;
                            width:14px;
                            height:2px;
                            margin-bottom:11px;
                            margin-left:-7px;
                            background:#333;
                        }
                        &::after {
                            transform:rotate(90deg);
                        }
                    }
                    &::after {
                        content:' ';
                        position:absolute;
                        bottom:0;
                        left:50%;
                        width:24px;
                        height:24px;
                        margin-left:-12px;
                        border:2px solid #333;
                        border-radius:50%;
                        border-radius:50%;
                    }
                }
            }
        }
    }
    .sect02 {
        padding:50px 0;
        background:$disabled;
        @include mobile {
            padding:30px 0;
        }
        .prod-slider {
            position:relative;
            @include contArea;
            margin:0 auto;
            .swiper-slide {
                text-align:center;
                .tit {
                    font-size:30px;
                    line-height:1.1;
                    font-weight:700;
                    @include mobile {
                        font-size:24px;
                    }
                }
                .desc {
                    margin-top:10px;
                    font-size:30px;
                    line-height:1.1;
                    font-weight:500;
                    @include mobile {
                        font-size:24px;
                    }
                }
                .img {
                    display:block;
                    margin-top:50px;
                    @include mobile {
                        margin-top:25px;
                    }
                }
                .cont {
                    margin-top:25px;
                    @include font-md;
                    @include mobile {
                        margin-top:15px;
                    }
                }
            }
            .paging {
                position:relative;
                margin-top:40px;
                text-align:center;
                font-size:0;
                z-index:10;
                @include mobile {
                    margin-top:25px;
                }
            }
            .btn-control {
                position:absolute;
                top:50%;
                width:50px;
                height:50px;
                margin-top:-25px;
                border:1px solid #666;
                border-radius:50%;
                background:$disabled;
                z-index:10;
                @include mobile {
                    width:36px;
                    height:36px;
                    margin-top:-18px;
                }
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    left:50%;
                    width:14px;
                    height:14px;
                    margin-top:-7px;
                    border:1px solid #666;
                    border-right:none;
                    border-bottom:none;
                    @include mobile {
                        width:10px;
                        height:10px;
                        margin-top:-5px;
                    }
                }
                &.prev {
                    left:20px;
                    @include mobile {
                        left:4px;
                    }
                    &::after {
                        transform:rotate(-45deg);
                        margin-left:-3px;
                    }
                }
                &.next {
                    right:20px;
                    @include mobile {
                        right:4px;
                    }
                    &::after {
                        transform:rotate(135deg);
                        margin-left:-10px;
                        @include mobile {
                            margin-left:-7px;
                        }
                    }
                }
            }
        }
    }
    .sect03 {
        position:relative;
        padding:80px 0 0;
        @include mobile {
            padding-top:40px;
        }
        > * {
            @include contArea;
            text-align:center;
        }
        h2.h2-title {
            font-size:30px;
            font-weight:700;
            @include mobile {
                font-size:24px;
            }
        }
        .tit-desc {
            margin-top:15px;
            font-size:20px;
            @include mobile {
                margin-top:10px;
                font-size:16px;
            }
        }
        ul {
            display:flex;
            max-width:360px * 3;
            margin:50px auto 0;
            @include mobile {
                margin-top:30px;
            }
            li {
                flex:1;
                border-left:1px solid $border;
                &:first-child {
                    border-left:none;
                }
                a {
                    display:block;
                    font-size:24px;
                    font-weight:500;
                    text-align:center;
                    @include mobile {
                        font-size:16px;
                    }
                    &::before {
                        content:' ';
                        display:block;
                        width:80px;
                        height:80px;
                        margin:0 auto 35px;
                        background-size:100%;
                        background-repeat:no-repeat;
                        background-position:center;
                        @include mobile {
                            width:40px;
                            height:40px;
                            margin-bottom:20px;
                        }
                    }
                    @for $i from 1 through 3 {
                        &.icon#{$i}::before {
                            background-image:url('/images/icon/icon-main#{$i}.gif');
                        }
                    }
                }
            }
        }
        &::after {
            content:' ';
            display:block;
            width:100%;
            @include calcs(padding-top, 640px, 1920px);
            margin-top:80px;
            background-image:url('/images/bg/bg-main.jpg');
            @include bg;
            @include mobile {
                margin-top:40px;
            }
        }
    }
}